@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');

.responsive-scale{
    width: 100%;
    padding-bottom: 57%;
    background-image: url("Images/headImage.jpg");
    background-size: cover;
}

.responsive-scale h1{
  color: white;
  position: absolute;
  text-align: center;
  padding-top: 70%;
  padding-left: 8%;
  transform: translate(0%, -57%);
  font-size: 10vw;
  font-family: 'Alfa Slab One', cursive;

}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}


body{
  background-color: grey;
}

main{
  background-color: white;
}

.starter{
  margin-top: 60px;
}
